.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.main-content img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.main-content p{
    text-align: center;
    margin: 40px;
}

/* Responsividade para telas menores que 980px */
@media only screen and (max-width: 980px) {
    nav {
        position: relative;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #F5C683;
        flex-direction: column;
        border-radius: 10px;
        width: 200px;
        padding: 10px 0;
        z-index: 1000;
        border: 5px solid #E0AE58;
    }

    .navbar li {
        text-align: center;
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
        margin-right: 20px;
    }

    .navbar.show {
        display: flex;
    }

    .navbar-item:hover{
        background-color: #FAEDDC;
    }

    footer {
        justify-content: center;
        gap: 25px;
    }

    #footer-container-icons {
        gap: 15px;
    }
}

/* Obs: Eu acredito que apenas tratando a responsividade para tablets fez com que a responsividade para celulares também ficasse ok,
então por isso eu acabei não criando outra "media query".*/
