.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-content h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.projects-section {
    min-height: 300px;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    column-gap: 40px;
    row-gap: 40px;
    flex-wrap: wrap;
}

.projects-section article{
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #DCDCDC;
}

.projects-section article:hover {
    background-color: #7A7A7A;
    cursor: pointer;
    
    a {
        color: #FFF;
        font-weight: bold;
    }
}

.projects-section a{
    font-weight: bold;
    font-size: 1.2rem;
}

/* Responsividade para telas menores que 980px */
@media only screen and (max-width: 980px) {
    nav {
        position: relative;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #F5C683;
        flex-direction: column;
        border-radius: 10px;
        width: 200px;
        padding: 10px 0;
        z-index: 1000;
        border: 5px solid #E0AE58;
    }

    .navbar li {
        text-align: center;
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
        margin-right: 20px;
    }

    .navbar.show {
        display: flex;
    }

    .projects-section {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .navbar-item:hover{
        background-color: #FAEDDC;
    }

    .projects-section {
        width: 80dvw;
    }

    footer {
        justify-content: center;
        gap: 25px;
    }

    #footer-container-icons {
        gap: 15px;
    }
}

/* Obs: Eu acredito que apenas tratando a responsividade para tablets fez com que a responsividade para celulares também ficasse ok,
então por isso eu acabei não criando outra "media query".*/